{% extends 'index.html' %}


{% block content %}
<!-- Booking Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container" style="min-height: 100%;margin-top: 70px; height: 500px;width: 2000px;">
        <div class="booking p-5">
            <div class="row g-5 align-items-center">
                <center>
                    <div class="col-md-6">
                        <h1 class="text-white mb-4">Register Here</h1>
                        <form action="{{url_for('register')}}" method="post">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control bg-transparent" id="name" name="name" pattern="[A-Za-z\s]+" title="Please enter a valid name (letters and spaces only)"
                                            required placeholder="Your Name">
                                        <label for="name">Your Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control bg-transparent" id="email" name="email" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" title="Please enter a valid email address"
                                            required placeholder="Your Email">
                                        <label for="email">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating password" id="password" data-target-input="nearest">
                                        <input type="password" class="form-control bg-transparent" name="password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" title="Password must be at least 8 characters long and contain both letters and numbers" id="password" placeholder="password" required />
                                        <label for="password">Password</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="password" class="form-control bg-transparent" id="c_password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" title="Password must be at least 8 characters long and contain both letters and numbers"  name="c_password" placeholder="confirm Password" required />
                                        <label for="c_password">confirm Password</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-outline-light w-100 py-3" type="submit">Register Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </center>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% if message %}
    <script>
        alert("{{message}}")
    </script>
{% endif %}